
#
sysname routerDHCP
#
dhcp enable
#
ip pool pozoIP
 gateway-list 192.168.1.9 
 network 192.168.1.8 mask 255.255.255.252 
 dns-list 192.168.1.30 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher ]pmv=Rk02~3@9_G-B0Y2l<E#
 local-user admin service-type http
#
firewall zone Local
 priority 16
#
interface Ethernet0/0/0
 ip address 192.168.1.2 255.255.255.248 
#
interface Ethernet0/0/1
 ip address 192.168.1.9 255.255.255.252 
 dhcp select global
#
interface Serial0/0/0
 link-protocol ppp
#
interface Serial0/0/1
 link-protocol ppp
#
interface Serial0/0/2
 link-protocol ppp
#
interface Serial0/0/3
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 192.168.1.13 255.255.255.252 
#
interface GigabitEthernet0/0/1
 ip address 192.168.1.17 255.255.255.252 
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
#
wlan
#
interface NULL0
#
rip 1
 version 2
 peer 192.168.1.3
 peer 192.168.1.1
 network 192.168.1.0
#
user-interface con 0
user-interface vty 0 4
user-interface vty 16 20
#
return 