.left_content,.right_content
{
    margin: 1% 1%;
    min-width:20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.center_content
{
    margin: 1% 1%;
    min-width:60%;
    display: inline-block;
    box-sizing: border-box;
}
.busqueda_box
{
    display: block;
}
